.kotak{
    background-color: rgba(0, 0, 0, 0.15);
    width: 540px;
    height: 540px;
    position: absolute;
    left: 100px;
    top: 40px;
    display: flex;
    padding-left: 20px;
}

.fadeRight{
    animation: fadeRight 3s both;
}

@keyframes fadeRight{
    0%{
        opacity: 0;
        transform: translate(55px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

.button{
    font-size: 18px;
    font-weight: 550;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.button2{
    font-size: 24px;
    font-weight: 200;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 6px;
}

.button:hover{
    color: rgb(132, 173, 132);
    transition: 0.35s;
}

.button:active{
    color: white;
}

.button2:hover{
    color: rgb(17, 167, 17);
    border: 2px solid rgb(17, 167, 17);
    transition: 0.35s;
}

.button2:active{
    color: white;
    border: 2px solid white;
}

.searchbox{
    position: absolute;
    top: 13px;
    right: 360px;
    background-color: white;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}

.searchbox:hover > .searchtxt{
    width: 150px;
    padding: 0 6px;
}

.searchbtn{
    float: right;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.searchtxt{
    margin-left: 5px;
    border: none;
    background: none;
    outline: none;
    clear: left;
    float: left;
    padding: 0px;
    color: black;
    font-size: 16px;
    transition: 0.5s;
    line-height: 20px;
    width: 0px;
}

.container{
    width: 1100px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 130px;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
}

.button3{
    background: white;
    width: 110px;
    height: 45px;
    font-size: 16px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.button3:hover{
    color: whitesmoke;
    background: black;
    border: 2px solid white;
}

.profile{
    width: 1150px;
    height: 400px;
    position: absolute;
    top: 170px;
    left: 100px;
}

.nama{
    width: 720px;
    height: 130px;
    position: absolute;
    top: 20px;
    left: 430px;
    text-align: left;
    font-size: 25px;
    color: whitesmoke;
}

.desc{
    width: 720px;
    height: 210px;
    position: absolute;
    top: 190px;
    left: 430px;
    text-align: justify;
    font-size: 20px;
    color: whitesmoke;
}

.judul_box{
    width: 300px;
    height: 60px;
    text-align: center;
    border-bottom: 3px solid red;
}

.desain_box{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    border: 0.1px solid black;
    cursor: grab;
}

.detail{
    width: 320px;
    height: 15px;
    cursor: pointer;
}

.detail2{
    width: 320px;
    height: 15px;
}

h5:hover{
    text-decoration: underline;
}

.button4{
    background: black;
    width: 150px;
    height: 45px;
    font-size: 16px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    transition: 0.8s;
    position: absolute;
    top: 850px;
    left: 585px;
    overflow: hidden;
}

.button4:hover{
    color: black;
    background: white;
    border: 2px solid black;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}